<div class="row nomargin">
  <div class="col-md-12">
    <h1 class="text-center titre-page">{{client.raisonsociale}}</h1>
    <p>{{errorMsg}}</p>
    <table class="table" *ngIf="listExist">
      <thead>
        <tr>
          <th>Contrat</th>
          <th>Client</th>
          <th>Responsable</th>
          <th>Contact</th>
          <th>Montant</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contrat of contrats">
          <td><a [routerLink]="['/private', 'contrat', contrat.id]">#{{ contrat.id }}</a></td>
          <td>{{ contrat.client.raisonsociale }}</td>
          <td>{{ contrat.user.prenom }} {{ contrat.user.nom }}</td>
          <td>{{ contrat.contact }}</td>
          <td class="text-right">{{ contrat.montant }} €</td>
        </tr>
        
      </tbody>
    </table>  
  </div>
</div>