	<div class="row nomargin">
		<div class="col-md-12">
			<h1 class="text-center titre-page">Bienvenue dans votre espace partenaire</h1>
			<p>Nous avons conçu ce site pour vous. Vous y trouverez l’ensemble des éléments dont vous avez besoin.</p>
			<p>Nos différents supports, qu’il s’agisse de documentations commerciales (fiches descriptives, présentations fonctionnelles, argumentaires ) ou techniques (supports de cours, manuel utilisateurs), sont tous disponibles en téléchargement dans l’espace <a [routerLink]="['/private', 'documentation']">Documentation</a>.</p>
			<p>Pensé pour être un véritable relai de communication entre vous et nous, ce site est le garrant de nos bonnes relations. Vous devez systématiquement y <a [routerLink]="['/private', 'declarer']">déclarer toutes nouvelles affaires</a>. En contrepartie, et par souci d’équité, AddenDa Software s’engage à accorder la primeure d’un contact au premier déclarant.</p>
			<p>En vue d’assurer le suivi et surtout la reconduction des contrats passés avec vos clients, il vous faudra les enregistrer et renseigner les différentes rubriques de l’espace <a [routerLink]="['/private', 'declarer']">Clients</a>.</p>
			<p>Enfin, si vous souhaitez nous faire part de vos remarques ou d’un besoin précis, n’hésitez pas à utiliser le formulaire de  <a [routerLink]="['/private', 'declarer']">Contact</a>.</p>
			<p>En nous souhaitant une longue et fructueuse collaboration.</p>
			<div class="col-md-4 col-md-push-8">
				<p>Frédéric Pompanon</p>
				<p>Président d'AddenDa Software</p>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="border-orange block-charte">
				<h2 class="text-center">Charte partenaire AddenDa</h2>
				<div class="col-md-12 text-center">
					<img class="text-center" src="../../public/img/charte-addenda.png" width=460>
				</div>
				<div class="col-md-12 charteValeur">
					<p class="charteValeur-titre">Stratégie et Volonté</p>
					<p>Notre stratégie partenaire est reconnue par toute l’entreprise, et en particulier par la Direction générale, comme un pilier de notre stratégie globale.</p>
				</div>
				<div class="col-md-12 charteValeur">
					<p class="charteValeur-titre">Engagements</p>
					<p>Nous nous engageons sur une stratégie à long terme avec nos partenaires. Et nous ne travaillons qu’avec peu de partenaires mais les plus impliqués sur leur marché et fortement engagés avec AddenDa.</p>
				</div>
				<div class="col-md-12 charteValeur">
					<p class="charteValeur-titre">Développement</p>
					<p>Les partenaires sont clés pour notre développement. Notre croissance ne peut se faire que par une meilleure couverture commerciale assurée par nos partenaires.</p>
					<p>De la même façon, nous souhaitons être stratégique pour nos partenaires et leur propre développement. <span class="orange">Notre objectif : créer avec nos partenaires une relation d'engagement profitable.</span></p>
				</div>

			</div>
			
		</div>
		
		
	</div>
	
