<div class="row nomargin">
  <div class="col-md-12">
    <h1 class="text-center titre-page">Déclarations en cours</h1>
    <p>{{errorMsg}}</p>
    <table class="table">
      <thead>
        <tr>
          <th>Contrat</th>
          <th>Client</th>
          <th>Contact</th>
          <th>Montant</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let declaration of declarations">
          <td><a [routerLink]="['/private', 'declarations', declaration.id]">#{{ declaration.id }}</a></td>
          <td>{{ declaration.client.raisonsociale }}</td>
          <td>{{ declaration.contact }}</td>
          <td class="text-right">{{ declaration.montant }}</td>
        </tr>
        
      </tbody>
    </table>  
  </div>
</div>