<div class="row nomargin">
	<div class="col-md-12">
		<h1 class="text-center titre-page">Déclarer une affaire</h1>
		<form (ngSubmit)="addDeclaration()">
		<div class="row nomargin">
			<div class="col-md-6 text-center">
			    <span class="input input--hoshi">
			        <input class="input__field input__field--hoshi" [(ngModel)]="client.raisonsociale" id="raisonsociale" 
			            type="text" name="raisonsociale"/>
			        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
			            <span class="input__label-content input__label-content--hoshi">Raison Sociale</span>
			        </label>
			    </span>
			</div>

			<div class="col-md-6 text-center">
			    <span class="input input--hoshi">
			        <input class="input__field input__field--hoshi" [(ngModel)]="client.siret" id="siret" 
			            type="text" name="siret"/>
			        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
			            <span class="input__label-content input__label-content--hoshi">N° SIRET</span>
			        </label>
			    </span>
			</div>
		</div>
		<div class="row nomargin">
			<div class="col-md-6 text-center">
			    <span class="input input--hoshi">
			        <input class="input__field input__field--hoshi" [(ngModel)]="declaration.contact" id="contact" 
			            type="text" name="contact"/>
			        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
			            <span class="input__label-content input__label-content--hoshi">Nom du contact</span>
			        </label>
			    </span>
			</div>

			<div class="col-md-6 text-center">
			    <span class="input input--hoshi">
			        <select [(ngModel)]="declaration.origine" id="origine" name="origine">
						<option value="" disabled selected>Origine</option>
						<option value="AddenDa Software">AddenDa Software</option>
						<option value="Interne">Interne</option>
					</select>
			    </span>
			</div>
			
		</div>
		<div class="row nomargin">
			<div class="col-md-6 text-center">
				<span class="input input--hoshi input--date">
				<input type='text' id="dateContact" name="datecontact" class="input__field input__field--hoshi"/>
	             <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
			            <span class="input__label-content input__label-content--hoshi">Date du contact</span>
			        </label>   
	            </span>
			</div>

			<div class="col-md-6 text-center">
			    <span class="input input--hoshi input--date">
			        <input class="input__field input__field--hoshi" id="dateSignature" type="text" name="datesignature"/>
			        <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
			            <span class="input__label-content input__label-content--hoshi">Date éventuelle signature</span>
			        </label>
			    </span>
			</div>
		</div>
		<div class="row" style="margin-top: 50px; padding-bottom: 20px;">
			<div class="col-md-4 col-xs-4 text-left">
				<p style="padding-left: 87px">Logiciels</p>
			</div>
			<div class="col-md-4 col-xs-4 text-center">
				<p>Nombre d'accès</p>
			</div>
			<div class="col-md-4 col-xs-4 text-center">
				<p>Montant</p>
			</div>
		</div>
		<div  class="row">
		<div class="col-md-12">
			<ul class="list-commandes list-group">
				<li *ngFor="let c of commandes; let i = index" class="list-group col-md-12">
				<div class="col-md-4 col-xs-4 text-left">
					<select class="form-control logiciel-select" id="logiciel"
	                required
	                [(ngModel)]="c.logiciel" name="logiciel{{i}}" 
	                #logiciel="ngModel" (ngModelChange)="onCommandeChange($event)" >
	                	<option value="" disabled selected>Choisissez un logiciel</option>
			          <option *ngFor="let l of logiciels" [ngValue]="l">{{l.titre}}</option>
			        </select>
				</div>
				<div class="col-md-4 col-xs-4 text-left">
					<input [(ngModel)]="c.nbacces" type="number" class="nbacces" name="nbacces{{i}}" placeholder="Acces" (ngModelChange)="onCommandeChange($event)"/>
				</div>
				<div class="col-md-4 col-xs-4 text-right">
					<span class="prix-commande">{{c.prix}} €</span>
				</div>
			        
			        
				</li>
			</ul>
		</div>
			
		<div class="col-md-12">
			<p class="montanttotal">Montant total: {{declaration.montant}} €</p>
		</div>
		<div class="col-md-12">
			<button (click)="newCommandelogiciel()" class="btn btn-small btn-add-cmd" 
		    type="button" name="addcommande">+ Ajouter un logiciel</button>
		</div>
		
		</div>
		
		
		<div class="col-md-12 text-center">
			<button *ngIf="showSubmit" class="btn btn-4 btn-4c icon-arrow-right" 
		    type="submit" name="action">Déclarer</button>
		    <div *ngIf="showLoading" style="padding: 25px 80px;">
		    	<img  src="../../public/img/rolling.svg"  alt="Chargement" height="50px" width="50px" />
		    </div>
		   
		    <p *ngIf="showMessage" class="submit-message">{{successMsg}}</p>
		</div>
		</form>


		
	</div>
</div>