button.btn.btn-small {
    padding: 15px;
    text-transform: none;
}

.list-commandes{
	list-style: none;
}
    

.list-commandes li{
	padding: 18px 60px;
}

.list-commandes li .logiciel-select{
	width: 300px;
    float: left;
}

.list-commandes li .nbacces{
	margin-left: 74px;
}

.list-commandes li .prix-commande{
    float: right;
}

.input--hoshi select{
	padding: 0.85em 0.15em;
    width: 100%;
    background: transparent;
    color: #595F6E;
}

.list-group {
    margin-bottom: 0px;
}

.btn-add-cmd{
	margin-left: 78px;
}

.montanttotal{
	text-align: right;
    padding-right: 74px;
    margin-top: 15px;
    margin-bottom: 0;
}